<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ config.get('general/sitename') -}}
            {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <!--[if lte IE 8]><script src="{{ asset('assets/js/ie/html5shiv.js', 'theme') }}"></script><![endif]-->
        <link rel="stylesheet" href="{{ asset('assets/css/main.css', 'theme') }}" />
        <!--[if lte IE 9]><link rel="stylesheet" href="{{ asset('assets/css/ie9.css', 'theme') }}" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('assets/css/ie8.css', 'theme') }}" /><![endif]-->
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">

            {% block body %}

                <!-- Main -->
                <div id="main">
                    <div class="inner">

                        {% include 'partials/_header.twig' %}

                        {% block main %}
                        {% endblock main %}

                    </div>
                </div>
                <!-- Sidebar -->
                <div id="sidebar">
                    <div class="inner">

                        {% include 'partials/_aside.twig' %}
                        {% include 'partials/_footer.twig' %}

                    </div>
                </div>

            {% endblock body %}

            <!-- Scripts -->
            <script src="{{ asset('assets/js/jquery.min.js', 'theme') }}"></script>
            <script src="{{ asset('assets/js/skel.min.js', 'theme') }}"></script>
            <script src="{{ asset('assets/js/util.js', 'theme') }}"></script>
            <!--[if lte IE 8]><script src="{{ asset('assets/js/ie/respond.min.js', 'theme') }}"></script><![endif]-->
            <script src="{{ asset('assets/js/main.js', 'theme') }}"></script>
        </div>
    </body>
</html>